@if (User.Identity.IsAuthenticated)
{
    <form asp-area="" asp-controller="Account" asp-action="Logout" method="post">
        <ul class="nav navbar-nav navbar-right">
            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="Manage" title="Manage">Hesabım</a>
            </li>
            <li class="nav-item">
                <button type="submit" class="btn btn-link navbar-btn nav-bar-link">Logout</button>
            </li>
        </ul>
    </form>
}
else
{
    <ul class="nav navbar-nav navbar-right">

        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="Register">Register</a>
        </li>

        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="Login">Login</a>
        </li>
    </ul>
	
}
