@{
    ViewData["Title"] = "Home Page";
}

 
@if (User.Identity.IsAuthenticated)
{
     <p>Welcomen @User.Identity.Name</p>
     <a asp-controller="Account" asp-action="Logout"></a>
}
else
{
     <a asp-controller="Account" asp-action="Login"></a>
}

